{extend name="public:base" /}
{block name="css"}<link rel="stylesheet" href="/static/admin/style/template.css" media="all">{/block}
{block name="body"}  

<div class="layui-fluid layadmin-cmdlist-fluid">
  <div class="layui-row layui-col-space30">
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md2 layui-col-sm4">
        <div class="cmdlist-container">
            <a href="javascript:;">
              <img src="/static/admin/style/res/template/portrait.png">
            </a>
            <a href="javascript:;">
              <div class="cmdlist-text">
                <p class="info">TaoLer博客模板</p>
                <div class="price">
                    <b>￥79</b>
                    <p>
                      ¥
                      <del>130</del>
                    </p>
                    <span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="layui-col-md12 layui-col-sm12">
        <div id="demo0"></div>
    </div>
  </div>
</div>
{/block}

{block name="js"}
  <script>
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  layui.use(['laypage', 'layer'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  
  //总页数低于页码总数
  laypage.render({
    elem: 'demo0'
    ,count: 50 //数据总数
  });
});
 </script>
 {/block}