body{background:#fff}
.cl{zoom:1}
.cl:after{content:'\20';display:block;height:0;clear:both;visibility:hidden}
.z{float:left}
.y{float:right}
.logo {height:37px;padding:10px 0 0 10px;}
.header{background:#009688;height:60px;width:100%;position:fixed;left:0;top:0;z-index:999}
.header a{font-size:18px;padding:0 30px 0 0;line-height:60px;font-weight:100;color:#fff}
.header h2{font-size:18px;padding:0 0 0 30px;line-height:60px;font-weight:100;color:#fff}
.header a:hover{color:#fff}
.inside{width:100%;min-width:1000px;height:65px;background:#393D49}
.inside h2 img{float:left;padding:0}
.inside ul{width:120px;height:65px;float:left;margin-left:68px}
.inside .innumber1{background:#FF5722!important;color:#fff!important}
.inside .innumber{margin-top:12px;width:40px;height:40px;line-height:40px;text-align:center;font-size:20px;border-radius:50%;background:#fff;float:left;color:#009688}
.inside .inword{width:80px;height:65px;float:left;line-height:65px;text-indent:10px;font-size:16px;color:#fff}
.inwp{width:100%;margin:0 auto}
.inout1 a{float:left;border:1px solid #C9C9C9;background-color:#fff;color:#555;padding:8px 18px;border-radius:2px;margin-right:10px;margin-top:20px}
.inout2 a{float:left;color:#fff;padding:9px 18px;background:#009688;border-radius:2px;margin-top:20px}
.inout1 a:hover{color:#555;opacity:.8;filter:alpha(opacity=80)}
.inout2 a:hover{color:#fff;opacity:.8;filter:alpha(opacity=80)}
.inout2 input{float:left;color:#fff;padding:9px 18px;background:#009688;border-radius:2px;margin-top:20px;border:none}
.inout2 input:hover{color:#fff;opacity:.8;filter:alpha(opacity=80)}
.inside2 h2{font-size:20px;margin:20px 0}
.inside2 h3{font-size:16px;margin:20px 0 10px 0;color:#FF5722}
.inside2 p{font-size:14px;line-height:28px;margin-bottom:10px}
.inside2 tr{border:1px solid #EAEAEA}
.inside2 tr th{border-left:1px solid #EAEAEA;background:#F9F9F9;line-height:45px}
.inside2 tr td{border-left:1px solid #EAEAEA;line-height:40px;padding-left:20px}





