{extend name="public/base" /}

{block name="body"}
  <div class="layui-fluid">
        <div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form layui-card-header  layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						插件分类
					</div>
					<div class="layui-inline">
						<select name="id" lay-filter="LAY-user-adminrole-type">
						<option value="">全部插件</option>
						<option value="">支付</option>
						<option value="">第三方登陆</option>
						</select>
					</div>
				</div>
				<table id="addons-list" lay-filter="addons-list"></table>

				<script type="text/html" id="toolbar">
					<div class="layui-btn-group" style="padding-bottom: 10px;">
						<button type="button" class="layui-btn layui-btn-sm" lay-event="onlineAddons">在线</button>
						<button type="button" class="layui-btn layui-btn-sm" lay-event="installed">已安装</button>
						<button type="button" class="layui-btn layui-btn-sm" lay-event="freeAddons">免费</button>
						<button type="button" class="layui-btn layui-btn-sm" lay-event="payAddons">付费</button>
					</div>
					<div class="layui-btn-group" style="padding-bottom: 10px;">
						<button class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="add">离线安装</button>
					</div>
				</script>

				<script type="text/html" id="addons-installed-tool">
				{{#  if(d.status == 1){ }}
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="shutdown"><i class="layui-icon layui-icon-pause"></i>禁用</a>
				{{#  } else { }}
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="start"><i class="layui-icon layui-icon-play"></i>启动</a>
				{{#  } }}
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="config"><i class="layui-icon layui-icon-set"></i>设置</a>
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>卸载</a>
				</script>
				<script type="text/html" id="addons-tool">
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="install"><i class="layui-icon layui-icon-edit"></i>安装</a>
				<select id="vers{{d.name}}" name="sss" class="layui-border" lay-ignore lay-filter="versSelect">
					{{# d.vers.forEach(function(item, index){ }}
						<option value="{{ item }}">{{ item }}</option>
					{{# }); }}
				</select>
	
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="config"><i class="layui-icon layui-icon-set"></i>设置</a>
				</script>
			</form>

		</div>
        </div>  
  </div>
  
{/block}
{block name="js"}
<script>
	var addonsIndex = "{:url('Addons/index')}",
		addonsList = "{:url('Addons/addonsList')}",
        addonsDelete = "{:url('Addons/delete')}",
        addonsEdit = "{:url('Addons/edit')}";
	var addonsStart = "{:url('Addons/start')}";
	var addonsShut = "{:url('Addons/shutDown')}";
	var addonsInstall =  "{:url('Addons/install')}";
	var addonsConfig =  "{:url('Addons/config')}";

	
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'addons','table','form','upload'], function(){
  var $ = layui.jquery
  ,table = layui.table
  ,form = layui.form
  ,upload = layui.upload;

  form.render('select'); // 渲染所在容器内的 select 元素
  //监听版本选择
  form.on('select(versSelect)', function(obj){
	console.log(111)
    layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
  });

  //事件
    var active = {
      add: function(){
        layer.open({
          type: 2
          ,title: '添加插件'
          ,content: 'add.html'
          ,area: ['400px', '620px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-addons-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段

              //提交 Ajax 成功后，静态更新表格中的数据
              $.ajax({
				type:"post",
				url:"{:url('Addons/add')}",
				data:field,
				daType:"json",
				success:function (data){
					if (data.code == 0) {
						layer.msg(data.msg,{
							icon:6,
							time:2000
						});
					} else {
						layer.open({
							title:'添加失败',
							content:data.msg,
							icon:5,
							anim:6
						});
					}
				}
			});
			  
              table.reload('addons-list'); //数据刷新
              layer.close(index); //关闭弹层
            });  
            
            submit.trigger('click');
          }
        }); 
      }
    }
	$('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
</script>
{/block}