<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>
    <body>
        <form class="layui-form" action="">
            <div class="mainBox">
                <div class="main-container">
            <div class="layui-form-item layui-hide">
            <input type="text" name="id" class="layui-input" value="{$keys.id}">
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">授权等级</label>
              <div class="layui-input-inline">
                <select name="auth_level" lay-verify="required">
                  <option {if condition="$keys.auth_level eq 0"} selected {/if} value="0">普通</option>
                  <option {if condition="$keys.auth_level eq 1"} selected {/if} value="1">初级</option>
                  <option {if condition="$keys.auth_level eq 2"} selected {/if} value="2">中级</option>
                  <option {if condition="$keys.auth_level eq 3"} selected {/if} value="3">高级</option>
                </select>
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">用户</label>
              <div class="layui-input-inline">
                <input type="text" name="user" lay-verify="required" placeholder="请输入用户" autocomplete="off" class="layui-input" value="{$keys.user}">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">域名</label>
              <div class="layui-input-inline">
                <input type="text" name="domain" lay-verify="required" placeholder="请输入域名" autocomplete="off" class="layui-input" value="{$keys.domain}">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">到期时间</label>
              <div class="layui-input-inline">
                <input type="text" name="end_time"  id="end-time" lay-verify="required" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="{$keys.end_time|date='Y-m-d'}">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">状态</label>
              <div class="layui-input-inline">
                <input type="text" name="status" lay-verify="required" placeholder="请设置状态" autocomplete="off" class="layui-input" value="{$keys.status}">
              </div>
            </div>
                </div>
            </div>
            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                            lay-filter="key-save">
                        <i class="layui-icon layui-icon-ok"></i>
                        提交
                    </button>
                    <button type="reset" class="pear-btn pear-btn-sm">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
        <script src="/static/component/layui/layui.js"></script>
        <script src="/static/component/pear/pear.js"></script>
        <script>
            layui.use(['form', 'jquery','laydate'], function(){
                let $ = layui.jquery;
                let form = layui.form;
                let laydate = layui.laydate;

                let EDIT_URL = "{:url('apps.KeyAuth/edit')}";
                //结束时间
                laydate.render({
                    elem: '#end-time'
                    ,btns: ['clear', 'now']
                    ,trigger: 'click'
                });

                form.on('submit(key-save)', function(data) {
                    $.ajax({
                        url: EDIT_URL,
                        data: JSON.stringify(data.field),
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'post',
                        success: function(result) {
                            if (result.code === 0) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    parent.layer.close(parent.layer.getFrameIndex(window
                                        .name)); //关闭当前页
                                    parent.layui.table.reload("key-table");
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                    return false;
                });

            })
        </script>
    </body>
</html>