{extend name="public/base" /}

{block name="title"}模板{/block}

{block name="body"}

<div class="layui-card">
	<div class="layui-card-body">
		<form class="layui-form layui-form-pane">
		
			<div class="layui-form-item">
				<label class="layui-form-label">模版</label>
				<div class="layui-input-inline">
					<input type="text" name="app_name" id="appName" placeholder="名称/标题/描述/作者"  class="layui-input">
				</div>
				<div class="layui-inline">
					<button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="search-btn"><i class="layui-icon">&#xe615;</i>
						搜 索
					</button>
					<button type="reset" class="pear-btn pear-btn-md">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
				</div>
				<div class="layui-btn-group layui-inline">
					<button type="button" class="layui-btn layui-btn-primary layui-bg-blue" lay-on="all">
						全部
					</button>
					<button type="button" class="layui-btn layui-btn-primary" lay-on="free">
						<i class="layui-icon layui-icon-add-1">免费</i>
					</button>
					<button type="button" class="layui-btn layui-btn-primary" lay-on="installed">
						<i class="layui-icon layui-icon-edit">已安装</i>
					</button>
					<button type="button" class="layui-btn layui-btn-primary" lay-on="import">
						<i class="layui-icon layui-icon-delete">导入</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="tplId"></div>

{include file="public/user_login" /}

{__block__}

<script>

// 模版列表
	const LIST_URL = MODULE_NAME + '/soft/template/list';
	// 启用模版
	const ENABLE_URL = MODULE_NAME + '/soft/template/enable';
	// 检查模版是否已安装
	const CHECK_URL = MODULE_NAME + '/soft/template/check';

	// 安装模版
	const INSTALL_URL = MODULE_NAME + '/soft/template/install';
	// 升级模版
	const UPGRADE_URL = MODULE_NAME + '/soft/template/upgrade';
	// 卸载模版
	const UNINSTALL_URL = MODULE_NAME + '/soft/template/uninstall';
	// 配置模版	
	const CONFIG_URL = MODULE_NAME + '/soft/template/config';
	// 配置模版设置
	const CONFIG_SET_URL = MODULE_NAME + '/soft/template/configSet';
	// 用户登录
	const USER_LOGIN_URL = MODULE_NAME + '/user/user/userLogin';
	// 支付
	const PAY_URL = MODULE_NAME + '/soft/template/pay';
	// 是否支付
	const IS_PAY_URL = MODULE_NAME + '/soft/template/isPay';

layui.use(['jquery','template'], function() {
	let $ = layui.jquery;

})
</script>

{/block}
