{extend name="index/base" /}
	{block name="body"}
    <div class="inside2">
        <div class="inwp cl">
            <h2>TaoLer - 社区系统（简称Tao社区）安装协议：</h2>
			<hr>
            <p>1、欢迎使用Tao社区系统，她是一款轻量化、快速、便捷、简单的综合社区内容管理系统。</p>
			<p>2、适用于学校、企业、社团组织、社区、政府、本地华商圈等综合型服务类型</p>
			<p>3、本系统在作者能力范围内做到安全可靠，代码严禁，并力争进行长期更新支持、及时修复BUG，减少使用者的使用成本。</p>
			<p>4、尽管程序在发布前已经过安全测试，但仍不能完全保证漏洞的存在和丢失数据的风险，作者不承担商业风险。</p>
			<p>5、本程序版权归开发者所有，在未经过作者同意的情况下，严禁转售、赠送他人。</p>
            <p>6、您可以在完全遵守本许可协议的基础上，免费下载安装使用，商业应用请联系作者授权。</p> 
			<p>7、无论您是个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，包括免除或者限制开发团队责任的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款。如您不同意本服务条款及/或随时对其的修改，您应不使用或主动取消产品。否则，您的任何对产品中的相关服务的注册、登陆、下载、查看等使用行为将被视为您对本服务条款全部的完全接受，包括接受对服务条款随时所做的任何修改。</p>
            <p>8、本协议一旦发生变更, Tao社区开发团队将在网页上公布修改内容。修改后的服务条款一旦在网站管理后台上公布即有效代替原来的服务条款。如果您选择接受本条款，即表示您同意接受协议各项条件的约束。如果您不同意本服务条款，则不能获得使用本服务的权利。您若有违反本条款规定，TaoLer有权随时中止或终止您对本程序的使用资格并保留追究相关法律责任的权利。</p>
            <p>9、在理解、同意、并遵守本协议的全部条款后，方可开始使用本程序。本许可协议条款的解释，效力及纠纷的解决，适用于中华人民共和国大陆法律。</p>
            <p>10、您使用本系统，需要遵循许可协议，一旦安装表示您已接受该系统各项条款。</p>
            <div class="inout1">
                <a>拒绝安装</a>
            </div>
            <div class="inout2">
                <a href="{:url('/index/test')}">同意安装</a>
            </div>
        </div>
		</br>
    </div>
	{/block}
