<script>
    //扫码阅读
    $("#rdown").hover(function(){
        $("#phonedl").show().stop();
      },function(){
        $("#phonedl").hide().stop();
      });
      
      $("#phonedl").hover(function(){
        $("#phonedl").show().stop();
      },function(){
        $("#phonedl").hide().stop();
    });
  
      function PhoneDown(){
          layer.open({                         
              title: "扫码查阅",
              skin: 'layui-layer',
              content: "<img src='/qrcode/?text={$Request.domain}{:url('article/detail',['id' => $article.id])}&size=230'>"
          });
      }
  </script>