{extend name="public/base" /}

{block name="body"}
  <div class="layui-form" lay-filter="layuiadmin-form-app" id="layuiadmin-form-app" style="padding: 20px 40px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-block">
        <input type="text" name="name" lay-verify="required" placeholder="请输入小写纯英文字符" autocomplete="off" class="layui-input">
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">标题</label>
      <div class="layui-input-block">
        <input type="text" name="title" lay-verify="required" placeholder="请输入插件标题" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">简介</label>
      <div class="layui-input-block">
        <textarea name="description" lay-verify="required" placeholder="请输入简介"  class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">作者</label>
      <div class="layui-input-block">
        <input type="text" name="author" lay-verify="required" placeholder="请输入作者名" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">版本</label>
      <div class="layui-input-block">
        <input type="text" name="version" lay-verify="required" placeholder="请输入版本号" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">插件前端</label>
      <div class="layui-input-block">
        <input type="checkbox" name="controller" title="控制器"  value="1">
        <input type="checkbox" name="model" title="模型"  value="1">
        <input type="checkbox" name="view" title="视图"  value="1">
        <input type="checkbox" name="route" title="路由"  value="1">
        <input type="checkbox" name="menu" title="菜单"  value="1">
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">管理后端</label>
      <div class="layui-input-block">
        <input type="checkbox" name="admin_controller" title="控制器"  value="1">
        <input type="checkbox" name="admin_model" title="模型"  value="1">
        <input type="checkbox" name="admin_view" title="视图"  value="1">
        <input type="checkbox" name="admin_validate" title="验证"  value="1">
      </div>
    </div>
    <div class="layui-form-item  layui-form-text">
        <label class="layui-form-label">静态资源</label>
        <div class="layui-input-block">
          <input type="checkbox" name="js" title="js" value="1">
          <input type="checkbox" name="css" title="css"  value="1">
          <input type="checkbox" name="img" title="img"  value="1">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-app-submit" id="LAY-app-submit" value="确认">
    </div>
  </div>

{/block}
{block name="js"}
<script>
    layui.config({
      base: '/static/admin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'upload'], function(){
      var $ = layui.jquery
      ,upload = layui.upload ;
      
      upload.render({
        elem: '#layuiadmin-upload-app'
        ,url: 'uploadImg'
        ,accept: 'images'
        ,data: {type:'image'}
        ,field: 'file'
        ,method: 'get'
        ,acceptMime: 'image/*'
        ,done: function(res){
            $("input[name='app_image']").val(res.image);
            if(res.code == 0){
                layer.msg(res.msg,{
                    icon:6,
                    tiye:2000
                });
            } else {
                layer.open({
                    title:"上传失败",
                    content:res.msg,
                    icon:5,
                    anim:6
                });
            }
        }
      });
    })
    </script>
{/block}