{extend name="public:base" /}

{block name="body"}
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">发帖人</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">发帖名称</label>
            <div class="layui-input-block">
              <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">帖子状态</label>
            <div class="layui-input-block">
              <select name="sec">
			  <option value="">选择状态</option>
                <option value="1">正常</option>
                <option value="2">置顶</option>
				<option value="3">热门</option>
				<option value="4">禁评</option>
				<option value="5">封禁</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-forum-list" lay-submit lay-filter="LAY-app-forumlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-forum-list" data-type="batchdel">删除</button>
        </div>
        <table id="LAY-app-forum-list" lay-filter="LAY-app-forum-list"></table> 
        <script type="text/html" id="imgTpl">
          <img style="display: inline-block; width: 50%; height: 100%;" src= "{{ d.avatar }}">
        </script> 
		<script type="text/html" id="title">
		<a href="/index/jie/{{d.id}}.html" target="_blank">{{d.content}}</a>
		</script>
        <script type="text/html" id="buttonTpl">
          {{#  if(d.top == 1){ }}
            <button class="layui-btn layui-btn-xs">置顶</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
          {{#  } }}
        </script> 
		<script type="text/html" id="buttonHot">
            {{#  if(d.hot == 1){ }}
            <button class="layui-btn layui-btn-xs">精贴</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
          {{#  } }}
        </script>
		<script type="text/html" id="buttonReply">
            {{#  if(d.reply == 1){ }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
          {{#  } else { }}
            <button class="layui-btn  layui-btn-xs">禁评</button>
          {{#  } }}
        </script>
		<script type="text/html" id="buttonCheck">
            {if condition="checkRuleButton('admin/forum/check')"}<input type="checkbox" name="check" lay-skin="switch" lay-filter="forumcheck" lay-text="正常|封禁" {{#  if(d.check == 1){ }} checked {{#  } }} id="{{d.id}}" >{else}<button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-disabled">无审核权</button>{/if}
        </script>
        <script type="text/html" id="table-forum-list">
          <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

{/block}

{block name="js"}
  <script>
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'forum', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    
    //监听搜索
    form.on('submit(LAY-app-forumlist-search)', function(data){
      var field = data.field;
	  	$.ajax({
		type:"post",
		url:"{:url('admin/Forum/list')}",
		data:{field},
		daType:"json",
		success:function (data){
			if (data.code == 0) {
				
			} else {
				layer.open({
					content:data.msg,
					icon:5,
					anim:6
				});
			}
		}
	});
      
      //执行重载
      table.reload('LAY-app-forum-list', {
        where: field
      });
    });
    
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-app-forum-list')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
      
        layer.confirm('确定删除吗？', function(index) {
          
          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          table.reload('LAY-app-forum-list');
          layer.msg('已删除');
        });
      }
    }  
    
	//监听帖子审核
	form.on('switch(forumcheck)', function(data){
	var data= data.elem;

	if(data.checked == true){
		data.value = 1;
	}else{
		data.value = 0;
	}
	//执行帖子审核
		$.ajax({
			type:'post',
			url:"{:url('admin/Forum/check')}",
			data:{id:data.id,status:data.value,},
			dataType:'json',
			success:function(res){
				if(res.code == 0){
					layer.msg(res.msg,{
						icon:res.icon,
						time:2000
					}
					//,function(){location.reload();}
					);
				} else {
					layer.open({
						title:'审核失败',
						content:res.msg,
						icon:5,
						adim:6
					})
				}
			}
		});
		return false;
	});  
	
    $('.layui-btn.layuiadmin-btn-forum-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
{/block}
