{extend name="public/base" /}
{block name="title"}{$Request.param.ename|getCateName}-{$sysInfo.webname}{/block}
{block name="keywords"}{$Request.param.ename|getCateName},{$sysInfo.webname}{/block}
{block name="description"}{$Request.param.ename|getCateDesc}{/block}
{block name="column"}{include file="/public/column" /}{/block}

{block name="content"}
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel" style="margin-bottom: 0;">
	  
	  {include file="public/filter" /}
        <ul class="fly-list">
		    {volist name="artList" id="art"}
          <li>
            <a href="{:url('user/home',['id'=>$art.user.id])}" class="fly-avatar">
              <img src="{$art.user.user_img}" alt="{$art.user.name}">
            </a>
            <h2>
              <a class="layui-badge">{$art.cate.catename}</a>
              <a href="{:url('article/detail',['id' => $art.id])}">{$art.title}</a>
            </h2>
            <div class="fly-list-info">
              <a href="{:url('user/home',['id'=>$art.user.id])}" link>
			      <span class="layui-badge layui-bg-green " title="哪个小区">{:getAsing($art.user.area_id) ?: '无'}</span>
                <cite>{$art.user.nickname ?: $art.user.name}</cite>
                <!--
                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                <i class="layui-badge fly-badge-vip">VIP3</i>
                -->
              </a>
              <span>{$art.create_time|date='Y-m-d'}</span>

              <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>
              <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> {$art.comments_count}
              </span>
            </div>
            <div class="fly-list-badge">
			      {if ($art.is_top == 1)} <span class="layui-badge layui-bg-black" >置顶</span> {/if}
            {if ($art.is_hot == 1)} <span class="layui-badge layui-bg-red">精帖</span> {/if}
            </div>
          </li>
		    {/volist}	
        </ul>
        <!-- <div class="fly-none">没有相关数据</div> -->
        <div style="text-align: center" id="page">{$artList|raw}</div>

      </div>
	  
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        {volist name="artHot" id="vo"}
		<dd>
          <a href="{:url('article/detail',['id' => $vo.id])}">{$vo.title}</a>
          <span><i class="iconfont icon-pinglun1"></i> {$vo.comments_count}</span>
        </dd>
		{/volist} 
        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
      </dl>

		<div class="fly-panel">
		<div class="fly-panel-title">心级赞助商 <span style="padding: 0 3px;">-</span>
		<a href="" class="fly-link fly-joinad    ">我要加入</a>
		</div>  
		<div class="fly-panel-main">
		{volist name="ad_cate" id="vo"}
			<a href="{$vo.slid_href}" target="_blank" rel="nofollow" class="fly-zanzhu" style="background-color: {$vo.slid_color};">{$vo.slid_name}</a>
		{/volist}
		</div>
		</div>

      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel" style="padding: 20px 0; text-align: center;">
		{volist name="ad_comm" id="vo"}		
		  <a href="{$vo.slid_href}" target="_blank"><img src="{$vo.slid_img}" style="max-width: 100%;"></a>
		{/volist}
        </div>
      </div>      
    </div>
  </div>
</div>

{/block}
{block name="script"}
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '{$user.name??'游客'}'
        ,uid: {$user.id ? 168*$user.id : -1}
        ,avatar: '{if condition="$user['user_img'] neq ''"}{$user['user_img']}{else /}/static/res/images/avatar/00.jpg{/if}'
        ,experience: 83
        ,sex: '{if condition="$user['sex'] eq 0"}男{else/}女{/if}'
    };
    layui.config({
        version: "3.0.0"
        ,base: '/static/res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
{/block}