<script type="text/html" id="user-info">
  <div>
    <div class="layui-card">
      <div class="layui-card-header">
        <blockquote class="layui-elem-quote">温馨提示 此处账号为: <a class="font" target="_blank" href="https://www.aieok.com">TaoLer社区账号</a>
        </blockquote>
      </div>
      <br>
      <div class="layui-card-body" style="padding: 0 40px 10px 0">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label required">账号 *</label>
            <div class="layui-input-block">
              <input type="text" class="layui-input"  lay-verify="required" id="username" value="" placeholder="{:lang('username or email')}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label required">密码 *</label>
            <div class="layui-input-block">
              <input type="password" class="layui-input"  lay-verify="required" id="password" value="" placeholder="{:lang('password')}">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>