{extend name="public/base" /}

{block name="title"}管理员{/block}

{block name="body"}

<div class="layui-card">
	<div class="layui-card-body">
		<form class="layui-form">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md2">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" name="username" class="layui-input">
					</div>
				</div>
				<div class="layui-col-md2">
					<label class="layui-form-label">邮箱</label>
					<div class="layui-input-block">
						<input type="text" name="email" class="layui-input">
					</div>
				</div>
				<div class="layui-col-md2">
					<label class="layui-form-label">手机号</label>
					<div class="layui-input-block">
						<input type="text" name="phone" class="layui-input">
					</div>
				</div>
				<div class="layui-col-md2">
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
						<i class="layui-icon layui-icon-search"></i>
						查询
					</button>
					<button type="reset" class="pear-btn pear-btn-md">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="layui-card">
	<div class="layui-card-body">
		<table id="table" lay-filter="table"></table>
	</div>
</div>

<script type="text/html" id="user-toolbar">
	<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add" permission="system.admin.add">
		<i class="layui-icon layui-icon-add-1"></i>
		新增
	</button>
</script>

<script type="text/html" id="imgTpl"> 
	<img src= "/{{d.avatar}}" style="width: 30px; height: 30px;" />
</script>

<script type="text/html" id="user-bar-template">
	<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit" permission="system.admin.edit"><i class="layui-icon layui-icon-edit"></i></button>
	<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove" {{#if (d.id == 1){ }} disabled {{# } }} permission="system.admin.delete"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="user-enable">
	<div permission="system.admin.check">
		<input type="checkbox" name="enable" value="{{d.id}}" permission="system.admin.enable" {{#if (d.id == 1){ }} disabled {{# } }} lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable" {{ d.status == 1 ? 'checked' : '' }} />
	</div>
</script>

<script type="text/html" id="buttonAuth">
	{{#  if(d.id == '1'){ }}
		<input type="checkbox" name="auth" lay-skin="primary"  checked disabled >
	{{#  } else { }}
		{if condition="checkRuleButton('admin/auth')"}
			<input type="checkbox" name="auth" id="{{d.id}}" lay-skin="primary" lay-filter="auth" 
			{{# if(d.auth == 1){ }}
				checked value="0"
			{{#  } else { }}
				value="1"
			{{#  } }} 
			>
		{else}
			<button class="pear-btn pear-btn-xs  pear-btn-disabled">无权限</button>
		{/if}
	{{#  } }}
</script>

{__block__}

<script>
	const ADMIN_LIST = MODULE_NAME + '/system/admin/list';
	const ADMIN_ADD = MODULE_NAME + '/system/admin/add';
	const ADMIN_EDIT = MODULE_NAME + '/system/admin/edit';
	const ADMIN_DELETE = MODULE_NAME + '/system/admin/delete';
	const ADMIN_CHECK = MODULE_NAME + '/system/admin/check';	
	
	layui.use(['common','popup'], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let common = layui.common;
		let popup = layui.popup;

		let cols = [
			[
				{
					title: 'ID',
					field: 'id',
					align: 'center',
					width: 60
				},
				{
					title: '头像',
					field: 'avatar',
					align: 'center',
					width: 80,
					templet: '#imgTpl'
				},
				{
					title: '账号',
					field: 'username',
					width: 100
				},
				{
					title: '电话',
					field: 'phone',
					align: 'center'
				},
				{
					title: '邮箱',
					field: 'email'
				},
				{
					title: 'IP',
					field: 'last_login_ip',
					align: 'center'
				},
				{
					title: '登录时间',
					field: 'last_login_time',
					align: 'center'
				},
				{
					title: '备注',
					field: 'remarks',
					align: 'center'
				},
				{
					title: '注册',
					field: 'create_time',
					align: 'center'
				},
				{
					title: '状态',
					field: 'check',
					align: 'center',
					width: 95,
					templet: '#user-enable'
				},
				{
					title: '操作',
					align: 'center',
					width: 130,
					templet: '#user-bar-template'
				}
			]
		]

		table.render({
			elem: '#table',
			url: ADMIN_LIST,
			page: true,
			cols: cols,
			skin: 'line',
			toolbar: '#user-toolbar',
			defaultToolbar: [{
				title: '刷新',
				layEvent: 'refresh',
				icon: 'layui-icon-refresh',
			}, 'filter', 'print', 'exports'],
			done: function(res, curr, count, origin){
				// console.log(res); // 得到当前渲染的数据
				// console.log(curr);  // 得到当前页码
				// console.log(count); // 得到数据总量
				// console.log(origin); // 回调函数所执行的来源 --- 2.8.7+
				// 页面DOM加载完成后执行 初始化权限
			},
		});

		table.on('tool(table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				edit(obj);
			}
		});

		table.on('toolbar(table)', function(obj) {
			if (obj.event === 'add') {
				add();
			} else if (obj.event === 'refresh') {
				window.refresh();
			}
		});

		form.on('submit(user-query)', function(data) {
			table.reload('table', {
				where: data.field
			})
			return false;
		});

		//执行用户审核
		form.on('switch(user-enable)', function(obj) {
			var status = obj.elem.checked ? 1 : -1;
			$.ajax({
				type: 'post',
				url: ADMIN_CHECK,
				data: {"id": this.value, "status":status},
				dataType:'json',
				success:function(res){
					if(res.code){
						return popup.failure(res.msg);
					}
					return popup.success(res.msg,function(){
						table.reload('table')
					});
				}
			});
			return false;
		});

		let add = function() {
			layer.open({
				type: 2,
				title: '新增',
				shade: 0.1,
				area: [common.isModile()?'100%':'500px', common.isModile()?'100%':'400px'],
				content: ADMIN_ADD
			});
		}

		let edit = function(obj) {
			layer.open({
				type: 2,
				title: '修改',
				shade: 0.1,
				area: ['500px', '400px'],
				content: ADMIN_EDIT + '?id=' + obj.data.id
			});
		}

		window.remove = function(obj) {
			layer.confirm('确定要删除该用户', {
				icon: 3,
				title: '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url: ADMIN_DELETE,
					dataType: 'json',
					type: 'delete',
					data: {"id": obj.data['id']},
					success: function(res) {
						layer.close(loading);
						if (res.code === 0) {
							return popup.success(res.msg,function(){
								obj.del();
								table.reload('table')
							});
						}
						return popup.failure(res.msg);
					}
				})
				return false;
			});
		}

		window.refresh = function(param) {
			table.reload('table');
		}
	})

</script>

{/block}