* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'PingFang SC', tahoma, arial, 'helvetica neue', 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'iconfont';  /* project id 2436479 */
    src: url('//at.alicdn.com/t/font_2436479_eebtit8mb6v.eot');
    src: url('//at.alicdn.com/t/font_2436479_eebtit8mb6v.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2436479_eebtit8mb6v.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2436479_eebtit8mb6v.woff') format('woff'),
    url('//at.alicdn.com/t/font_2436479_eebtit8mb6v.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2436479_eebtit8mb6v.svg#iconfont') format('svg');
}

.big-icon {
    font-family: iconfont !important;
    font-size: 80px !important;
    color: #00AF83;
    margin-top: 180px;
    display: block;

}

.section_title2 {
    font-size: 30px;
    line-height: 220%;
    margin-top: 80px;
    font-weight: 500;
    display: block;
    text-align: center;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

ul,ol{
    list-style:none;
}

a{
    text-decoration:none;
}


.fl {
    float: left;
}
.fr {
    float: right;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0;
    visibility: hidden;
}
.clearfix:after {
    content: "";
    height: 0px;
    display: block;
    clear: both;
    visibility: hidden;
}

.page {
    background: #ffffff none repeat center top;
    background-size: auto;
    position: relative;
    overflow: hidden;
    font: normal normal normal 14px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
    line-height: 220%;
    letter-spacing: 1px;
}


.header {
    border: none;
    background: #2B303B;
    height: 64px;
    position: relative;
}

.header_wrap {
    position: fixed;
    background: #2B303B;
    top: 0;
    width: 100%;
    height: 64px;
    left: 0;
    z-index: 999;
}

.navbar-toggle {
    display: none;
}

.header .hcontainer {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header .hcontainer .wrap_logo {
    width: 300px;
    text-align: left;
    height: 64px;
    line-height: 64px;
}

.header .hcontainer .wrap_logo img {
    width: 135px;
    height: 37px;
    vertical-align: middle;
}

.header .hcontainer .wrap_nav {
    width: 900px;
    text-align: right;
}

.header .hcontainer .wrap_nav ul li {
    display: inline-block;
}

.header .hcontainer .wrap_nav ul.wrap_big > li > a {
    color: #fff;
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
}

.header .hcontainer .wrap_nav ul.wrap_big>li>a.current, .header .hcontainer .wrap_nav ul.wrap_big>li>a:hover{
    color: #00AF83;
}

.margin-left {
    margin-left: 36px;
}

.main .wf-wrap {
    max-width: 100%;
    padding: 0;
}

.wf-container, .wf-container-main {
    margin: 0 -20px;
    padding: 0;
}

.main .content, .wf-3-4, .wf-span-9 {
    width: 100%;
}
.sidebar-right .content {
    float: left;
}
.content {
    padding-top: 0;
}

.banner {
    height: 718px;
    background: #1F2430;
}

.banner ul {
    width: 1100px;
    margin: 0 auto;
    padding-top: 28px;
}
.banner ul li.text {
    color: #fff;
    padding-top: 110px;
    margin: 0 auto;
    width: 800px;
}

.banner ul li.text a {
    padding: 0 15px;
}

.banner ul li {
    float: left;
}

.banner ul li.text h4 {
    font-size: 38px;
    line-height: 38px;
    font-weight: 500;
    color: rgba(255,255,255,1);
    text-shadow: none;
    letter-spacing: 2px;
}

.banner ul li.text p {
    font-weight: 200;
    font-size: 20px;
    line-height: 200%;
    margin: 60px 0 22px 0;
}

.banner ul li.text span {
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    background: #00AF83;
    transition: all 0.3s ease 0.3s;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.banner ul li.text a:last-child span{
    background: #fa4228;
}

.banner ul li img {
    width: 434px;
    height: 434px;
}

.features {
    width: 960px;
    margin: 0 auto;
    line-height: 220%;
    background-color: #fff;
}

.features ul li {
    padding-left:36px;
    background-image: url(../img/icon_right.png);
    background-repeat: no-repeat;
    margin-bottom: 16px;
    background-position: 0 2px;
}

.features h5 {
    font-size: 20px;
}

.features .left {
    width:460px;
}

.features .left img {
    box-shadow: rgba(15, 66, 76, 0.25) 0 0 24px 0;
    margin: 18px 28px 18px 0;
}

.features .right {
    width:500px;
}

.half {
    width: 480px;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.price {
    background-color: #eee;
}

.price-tab {
    width: 280px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    text-align: center;
    line-height: 220%;
    background: #fff;
    margin: 0 10px 10px;
    border-top: 20px solid #00af83;
    font-size: 15px;
    padding: 30px 0;
    display: inline-block;
}

.price-tab h5 {
    color: #0C0C0C;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.tab-foot {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.reg-btn, .login-btn {
    width: auto !important;
    height: 30px !important;
    background: rgba(0,175,131,1);
    border-radius: 3px;
    color: #fff !important;
    line-height: 30px !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    margin-left: 26px;
}

.login-btn {
    height: 28px !important;
    background: transparent !important;
    border-radius: 3px;
    line-height: 28px !important;
    border: 1px solid rgba(0,175,131,1);
    color: rgba(0,175,131,1) !important;
}

.login-btn:hover {
    color: #fff !important;
}

.btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-buy {
    color: #fff;
    background-color: #00af83;
    border-color: #00af83;
    text-decoration: none;
}

.border-btn {
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    background: #00AF83;
    transition: all 0.3s ease 0.3s;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.line-through {
    text-decoration:line-through;
    font-weight:normal;
    font-size:14px;
    color: #666;
}

.section_title {
    font-size: 30px;
    line-height: 420%;
    margin-top: 36px;
    font-weight: 500;
    display: block;
    text-align: center;
}


.faq ul li {
    padding-left:36px;
    background-image: url(../img/icon_right2.png);
    background-repeat: no-repeat;
    margin-bottom: 16px;
    background-position: 0 3px;
}

.section_wrap {
    width: 960px;
    margin: 0 auto;
    padding: 36px 0 26px;
    line-height: 220%;
}


.section_wrap2 {
    width: 960px;
    margin: 0 auto;
    padding: 80px 0 200px;
    line-height: 220%;
    font-size: 20px;
}


.text-center {
    text-align: center;
}

ul li .title {
    font-size: 20px;
    font-weight: 700;
}

.footer {
    background-color: #333;
}

.footer-column {
    width: 240px;
    padding: 26px 0;
    float: left;
    color: #fff;
}

.footer ul li {
    font-size: 13px;
    color: #bbb;
}

.footer a, .footer a:active {
    color: #bbb;
}

.footer .logo {
    width: 109px;
}

.qr-section {
    display: flex;
    justify-content: center;
    color: #ddd;
    font-size: 12px;
}

.qr-items {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.qr-items div {
    margin: 0 8px;
}

.qr-section img {
    width: 100px;
}

.company {
    padding-bottom: 38px;
}

@media only screen and (max-width: 767px) {

    .navbar-toggle {
        display: block;
        position: relative;
        padding: 9px 10px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #aaa;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        float: right;
    }

    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 4px;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }


    .navbar-toggle .icon-bar {
        background-color: #111111;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    .page {
        max-width: 767px;
    }

    .header .hcontainer {
        width: auto;
    }

    .header .hcontainer .wrap_logo {
        width: auto;
        margin-left: 10px;
    }

    .header .hcontainer .wrap_nav {
        display: none;
        clear: both;
        width: auto;
    }

    .header .header_items {
        background: #333;
        width: 100vw;
    }

    .header .hcontainer .wrap_nav ul li {
        display:block;
        text-align: center;
    }

    .header .hcontainer .wrap_nav ul.wrap_big > li > a {
        width: 100vw;
    }

    .mdn {
        display: none !important;
    }

    .main .wf-wrap {
        max-width: 100%;
        padding: 0;
    }

    .wf-container, .wf-container-main {
        margin: 0;
    }

    .banner {
        height: 600px;
    }

    .banner ul {
        padding: 0 18px;
        width: auto;
    }

    .banner ul li.text {
        width: auto;
    }

    .banner ul li.text span {
        width: 120px;
    }

    .features {
        width: 100vw;
        margin: 0 auto;
        line-height: 220%;
        background-color: #fff;
    }

    .features .left {
        display: none;
        width: 0;
    }

    .features .right {
        width:auto;
    }

    .price-tab {
        width: auto;
        padding: 30px 40px;
    }

    .section_wrap {
        width: 100vw;
        margin: 0 auto;
        padding: 36px 20px 26px 10px;
    }

    .section_wrap2 {
        width: 100vw;
        padding: 20px 20px 86px 10px;
    }

    .footer-column {
        padding: 26px;
    }

    .footer ul li {
        font-size: 13px;
        color: #bbb;
    }

    .footer a, .footer a:active {
        color: #bbb;
    }

    .footer .logo {
        width: 109px;
    }
}
