<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{block name="title"}表单页面{/block}</title>
  <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
  {block name="link"}{/block}
</head>
<body>
{block name="body"}
<script>
  const MODULE_NAME = "{$moduleName}";
</script>
<script src="/static/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script>
  layui.use(function() {
    const URL = MODULE_NAME + '/system/admin/getRules';
    let $ = layui.$;
    $.ajax({
      url: URL,
      type: "POST",
      dataType: 'json',
      success: function(res) {
        var codes = res.data || [];
         // 细分权限
        layui.each(codes, function (k, code) {
          codes[k] = '*[permission^="'+code+'"]';
        });
        if (codes.length) {
          $("head").append("<style> *[permission]{display: none;} " + codes.join(",") + "{display: initial}</style>");
        }
      }
    })
  })
</script>
{/block}
</body>
</html>