<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新增帖子</title>
  <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>
    <body>
        <form class="layui-form" action="">
          <div class="mainBox">
            <div class="main-container">
                <div class="layui-row layui-col-space15 layui-form-item">
                  <div class="layui-col-md3">
                    <label class="layui-form-label">{:lang('special column')}</label>
                    <div class="layui-input-block">
                      <select lay-verify="required" name="cate_id" lay-filter="column">
                        <option></option>
                        {volist name="cateList" id="cate"}
                        <option value="{$cate.id}" {if ($Request.param.cate == $cate.ename)} selected {/if}>{:cookie('think_lang') == 'en-us' ? $cate.ename : $cate.catename}</option>
                        {/volist}
                      </select>
                    </div>
                  </div>
                  <div class="layui-col-md8">
                    <label for="L_title" class="layui-form-label">{:lang('title')}</label>
                    <div class="layui-input-block">
                      <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="position:relative;" value=""/>
                      <input type="hidden" id="L_title_color" name="title_color" autocomplete="off" class="layui-input" />
                      <div class="layui-input bdsug layui-hide">
                        <ul class="wordlist">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="layui-col-md1">
                    <div id="color"></div>
                  </div>
                </div>

                <div class="layui-form-item layui-form-text">
                  <div class="layui-input-block">
                    <textarea id="L_content" name="content" required lay-verify="required" placeholder="{:lang('please input the content')}" class="layui-textarea fly-editor" style="height: 260px"> </textarea>
                  </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">{:lang('enclosure')}</label>
                    <div class="layui-input-inline" style="width: 190px">
                      <input type="text" class="layui-input" name="upzip" value="" placeholder="zip,image文件" title="上传附件" />
                    </div>
                    <button type="button" class="layui-btn" id="zip-button"><i class="layui-icon"></i>{:lang('uploads')}</button>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">{:lang('描述')}</label>
                  <div class="layui-input-block">
                    <textarea name="description" class="layui-textarea" placeholder="SEO描述"></textarea>
                  </div>
                </div>
                {//关键词}
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('添加关键词')}</label>
                    <div class="layui-input-block">
                      <!-- <input type="text" class="layui-input" name="" id="inputTags"  value="" placeholder="多个回车添加" title="添加关键词" /> -->
                      <input type="text" class="layui-input" name="keywords" value="" placeholder="多个用逗号隔开" title="添加关键词" />
                    </div>
                </div>
                {//tag}
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('add tags')}</label>
                    <div class="layui-input-block">
                      <div id="tag"></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="bottom">
            <div class="button-container">
              <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="forum-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
              </button>
              <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
              </button>
            </div>
          </div>
        </form>
            <script src="/static/component/layui/layui.js"></script>
            <script src="/static/component/pear/pear.js"></script>
            <script src="/static/addons/taonyeditor/tinymce/tinymce.min.js"></script>
            <script src="/static/xm-select.js"></script>

            <script>
            layui.extend({
                editor: '{/}/static/addons/taonyeditor/js/taonyeditor'
              }).use(["form", "colorpicker", "upload",'editor','xmSelect'], function () {
                var $ = layui.jquery, form = layui.form, colorpicker = layui.colorpicker, upload = layui.upload;
                var editor = layui.editor;
                var xmSelect = layui.xmSelect;

                editor.render({
                    selector: 'textarea#L_content',
                    uploadUrl: "{:url('content.forum/uploads')}",
                    imagePrependUrl: "{$domain}"
                });

              //获取百度标签标志，tag或者word;
              var flag = 'word';

              // 从详情页自动调用端口过滤，获取描述信息
              tinymce.get('L_content').on('mouseleave', function() {
                  var content = tinymce.get('L_content').getContent({format: 'text'});
                  content = content.replace(/[\r\n]/g,"").replace(/\n/g, '').replace(/\s/g, '').replace(/\t/g, '');
                  if(content.length >200) {
                      content = content.substring(0,200);
                  }
                  // var test = tinymce.activeEditor.getContent({format: 'text'});
                  $('[name="description"]').val(content);
              });

            // tag标签
            $(function(){
            //1.渲染标签
            var addTags = xmSelect.render({
                  el: '#tag',
                  name: 'tagid',
                  layVerify: '',
                  layVerType: 'msg',
                  paging: true,
                  pageSize: 5,
                  data: []
                });
                //2.动态标签赋值
                $.get("{:url('content.tag/getAllTag')}",function(res){
                  if(res.code === 0){
                    addTags.update({
                      data: res.data,
                      autoRow: true,
                    })
                  }
                });
            })


            // 通过接口自动获取tag的内容
            var conf = "{:empty(config('taoler.baidu.client_id'))}";
            if (conf !== "1") {
              $("#L_title").on("blur", function () {
                var title = $(this).val();
                var content = $("#L_content").val();
                $.ajax({
                type: "post",
                url: "{:url('content.forum/getKeywords')}",
                data: { keywords: title, content:content, flag: flag  },
                daType: "json",
                success: function (data) {
                  if (data.code === 0) {
                    $("input[name='keywords']").val(data.data.join(','));
                  }
                },
              });
              });
            }

            // 百度词条
            var baidu_title_switch = "{:config('taoler.config.baidu_title_switch')}";
            if(baidu_title_switch === 1) {
              $("#L_title").bind('input propertychange',function () {
                  var title = $(this).val();
                  var str = '';
                  if(title.length > 0 ) {
                    $.post("{:url('content.forum/getWordList')}",{title:title},function(res){
                      // 动态生成ur>li内容
                      if (res.code === 0) {
                        // 显示动态框
                        $(".bdsug").removeClass('layui-hide');
                        for (var i = 0; i < res.data.length; i++) {
                          //str += '<li data-key=' + res.data[i].q + '><b>' + res.data[i].q.replace(title,'') + '</b></li>';
                          str += '<li data-key=' + res.data[i].q + '><b>' + res.data[i].q + '</b></li>';
                        }
                        // 清空ul并追加li
                        $('.wordlist').empty().append(str);
                        // 点击李获取li值并复制给#L_title input的value
                        $(".bdsug li").on('click',function(){
                          var word = $(this).attr('data-key');
                          var words = title + '(' + word + ')';
                          $("#L_title").val(words);
                          // 关闭动态框
                          $(".bdsug").addClass('layui-hide');
                        });
                      } else {
                        $(".bdsug").addClass('layui-hide');
                      }
                    });
                  } else {
                    $(".bdsug").addClass('layui-hide');
                  }
              });
            }

            //上传附件
            upload.render({
              elem: "#zip-button",
              url: "{:url('content.forum/uploads')}", //改成您自己的上传接口
              data: { type: "zip" },
              accept: "file", //普通文件
              done: function (res) {
                if (res.status === 0) {
                  $('input[name="upzip"]').val(res.url);
                  layer.msg("上传成功");
                } else {
                  layer.msg(res.msg);
                }
              },
            });

             // 改变标题颜色
             colorpicker.render({
              elem: "#color",
              color: "#393d49",
              predefine: true, // 开启预定义颜色
              done: function (color) {
                //譬如你可以在回调中把得到的 color 赋值给表单
                $("#L_title_color").val(color);
                $("#L_title").css("color", color);
              },
            });

            form.on('submit(forum-save)', function(data) {
                $.ajax({
                  url: "{:url('content.forum/add')}",
                  data: JSON.stringify(data.field),
                  dataType: 'json',
                  contentType: 'application/json',
                  type: 'post',
                  success: function(result) {
                    if (result.code === 0) {
                      layer.msg(result.msg, {
                        icon: 1,
                        time: 1000
                      }, function() {
                        parent.layer.close(parent.layer.getFrameIndex(window
                                .name)); //关闭当前页
                        parent.layui.table.reload("user-table");
                      });
                    } else {
                      layer.msg(result.msg, {
                        icon: 2,
                        time: 1000
                      });
                    }
                  }
                })
                return false;
              });

          });
        </script>
    </body>
</html>
