{extend name="public/base" /}

{block name="body"}
  <div class="layui-fluid" id="component-tabs">
    <div class="layui-row">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
		  
            <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
              <ul class="layui-tab-title">
                <li class="layui-this" lay-id="website">网站设置</li>
                <li lay-id="email">邮箱服务</li>
				<li lay-id="email">服务配置</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
					<div class="layui-form" wid100 lay-filter="">
					  <div class="layui-form-item">
						<label class="layui-form-label">网站名称</label>
						<div class="layui-input-block">
						  <input type="text" name="webname" value="{$sysInfo.webname}" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">网站域名</label>
						<div class="layui-input-block">
						  <input type="text" name="domain" value="{$sysInfo.domain}" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">模板切换</label>
						<div class="layui-input-block">
						  <select name="template" lay-verify="required">
							<option value=""></option>
							{volist name="template" id="vo"}
							<option {if condition="$sysInfo.template eq $vo"} selected {/if} value="{$vo}">{$vo}</option>
							{/volist}
						  </select>
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">LOGO</label>
						<div class="layui-input-block">
						<span><img src="{$sysInfo.logo}" hight="40" width="50" ></span>
						{if condition="checkRuleButton('admin/set/upload')"}
						<button type="button" class="layui-btn layui-btn-normal" id="logo-img">选择文件</button>
						<button type="button" class="layui-btn" id="logo-upload-button">开始上传</button>
						{else /}<button type="button" class="layui-btn layui-btn-normal layui-btn-disabled">选择文件</button>{/if}
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">缓存时间</label>
						<div class="layui-input-inline" style="width: 80px;">
						  <input type="text" name="cache" lay-verify="number" value="{$sysInfo.cache}" class="layui-input">
						</div>
						<div class="layui-input-inline layui-input-company">分钟</div>
						<div class="layui-form-mid layui-word-aux">本地开发一般推荐设置为 0，线上环境建议设置为 10。</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">最大文件上传</label>
						<div class="layui-input-inline" style="width: 80px;">
						  <input type="text" name="upsize" lay-verify="number" value="{$sysInfo.upsize}" class="layui-input">
						</div>
						<div class="layui-input-inline layui-input-company">KB</div>
						<div class="layui-form-mid layui-word-aux">提示：1 M = 1024 KB</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">上传文件类型</label>
						<div class="layui-input-block">
						  <input type="text" name="uptype" value="{$sysInfo.uptype}" placeholder="请依照格式image:jgp|png,多个组合用,分开" class="layui-input">
						</div>
					  </div>
					  
					  <div class="layui-form-item">
						<label class="layui-form-label">禁止注册名</label>
						<div class="layui-input-block">
						  <input type="text" name="blackname" value="{$sysInfo.blackname}" class="layui-input">
						</div>
					  </div>
					  
					  <div class="layui-form-item">
						<label class="layui-form-label">首页标题</label>
						<div class="layui-input-block">
						  <input type="text" name="webtitle" value="{$sysInfo.webtitle}" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item layui-form-text">
						<label class="layui-form-label">META关键词</label>
						<div class="layui-input-block">
						  <textarea name="keywords" class="layui-textarea" placeholder="多个关键词在英文状态下用,分开">{$sysInfo.keywords}</textarea>
						</div>
					  </div>
					  <div class="layui-form-item layui-form-text">
						<label class="layui-form-label">META描述</label>
						<div class="layui-input-block">
						  <textarea name="descript" class="layui-textarea">{$sysInfo.descript}</textarea>
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">备案号</label>
						<div class="layui-input-inline">
						  <input type="text" name="icp" value="{$sysInfo.icp}" class="layui-input">
						</div>
					  </div>
						<div class="layui-form-item">
							<label class="layui-form-label">访问统计</label>
							<div class="layui-input-block">
								<input type="text" name="showlist" value="{$sysInfo.showlist}" class="layui-input">
							</div>
						</div>
					  <div class="layui-form-item">
						<label class="layui-form-label">版权信息</label>
						<div class="layui-input-inline" style="width: 400px;">
						  <input type="text" name="copyright" value="{$sysInfo.copyright}" class="layui-input">
						</div>
						<div class="layui-input-inline layui-input-company">提示：</div>
						<div class="layui-form-mid layui-word-aux">未授权版本，不限制功能，但严禁私自改写此处版权脚本，一旦发现，永久关闭升级服务！！</div>
						<div class="layui-form-mid layui-word-aux"></div>
					  </div>
					  <div class="layui-form-item">
						<div class="layui-input-block">
						{if condition="checkRuleButton('admin/Set/website')"}
						  <button class="layui-btn" lay-submit lay-filter="set_website">确认保存</button>
						{else /}<button class="layui-btn layui-btn-disabled">确认保存</button>{/if}
						</div>
					  </div>
					</div>
                </div>
                <div class="layui-tab-item">
					<div class="layui-form" wid100 lay-filter="">
					  <div class="layui-form-item">
						<label class="layui-form-label">SMTP服务器</label>
						<div class="layui-input-inline">
						  <input type="text" name="host" value="{$mailserver.host}" class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux">如：smtp.163.com</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">SMTP端口号</label>
						<div class="layui-input-inline" style="width: 80px;">
						  <input type="text" name="port" lay-verify="number" value="{$mailserver.port}" class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux">一般为 25 或 465</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">发件人邮箱</label>
						<div class="layui-input-inline">
						  <input type="text" name="mail" value="{$mailserver.mail}" lay-verify="email" autocomplete="off" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">发件人昵称</label>
						<div class="layui-input-inline">
						  <input type="text" name="nickname" value="{$mailserver.nickname}" autocomplete="off" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">邮箱登入密码</label>
						<div class="layui-input-inline">
						  <input type="password" name="password" value="{$mailserver.password}" autocomplete="off" class="layui-input">
						</div>
					  </div>
					  <div class="layui-form-item">
						<div class="layui-input-block">
						{if condition="checkRuleButton('admin/Set/email')"}
						  <button class="layui-btn" lay-submit lay-filter="set_system_email">确认保存</button>
						{else /}<button class="layui-btn layui-btn-disabled">确认保存</button>{/if}
						</div>
					  </div>
					</div>
                </div>
				<div class="layui-tab-item">
					<div class="layui-form" wid100 lay-filter="config">
					  <div class="layui-form-item">
						<label class="layui-form-label">区域简称：</label>
						<div class="layui-input-inline" style="width: 30px;">
						  <input type="checkbox" name="area_show" lay-skin="primary" value=1 {if config('taoler.config.area_show') == 1} checked {/if}>
						</div>
						<div class="layui-form-mid layui-word-aux">发件人所在地区简称</div>
					  </div>
					  <div class="layui-form-item">
						<label class="layui-form-label">邮件通知：</label>
						<div class="layui-input-inline" style="width: 30px;">
						  <input type="checkbox" name="email_notice" lay-skin="primary" value=1 {if config('taoler.config.email_notice') == 1} checked {/if}>
						</div>
						<div class="layui-form-mid layui-word-aux">发帖，评论等邮件提醒</div>
					  </div>
					
					  <div class="layui-form-item">
						<div class="layui-input-block">
						  <button class="layui-btn" lay-submit lay-filter="set_system_config">确认保存</button>
						</div>
					  </div>
					</div>
                </div>
			  </div>
            </div>
			
          </div>
        </div>
     </div>
  </div>
</div>  
{/block}
{block name="js"} 
  <script>
	  var setWebSite ="{:url('Set/website')}";
      var setEmail ="{:url('Set/email')}";
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set', 'upload'], function(){
    var $ = layui.$
	,form = layui.form
	,upload = layui.upload;
		
	//LOGO选完文件后不自动上传
	  upload.render({
		elem: '#logo-img'
		,url: "{:url('admin/set/upload')}"
        ,data: {type:'image'}
		,auto: false
		,exts: 'jpg|png|gif|bmp|jpeg'
		,size: 1000
		//,multiple: true
		,bindAction: '#logo-upload-button'
		,done: function(res){
		  if(res.code == 0){
				layer.msg(res.msg,{
					icon:6,
					tiye:2000
				},function(){
					location.reload();
				});
			} else {
				layer.open({
					title:"上传失败",
					content:res.msg,
					icon:5,
					anim:6
				});
			}
		}
	  });
	  
	form.on('submit(set_system_config)', function(data){
    console.log(data);
	var field = data.field;
	$.post("{:url('admin/set/config')}",field);
	
	layer.msg(JSON.stringify(data.field));
    return false;
  });
	
	
  });
  </script>
{/block}
