
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>时间线</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <script src="/static/jquery-3.6.0.min.js"></script>
</head>
    <body class="pear-container">

            <div class="layui-card">
                <div class="layui-card-header">版本日志</div>
                <div class="layui-card-body">

                    <div class="layui-form layui-form-pane">
                        <div class="layui-tab layui-tab-brief" lay-filter="timeline">
                            <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                                <div class="layui-tab-item layui-show">

                                    <div class="layui-row layui-col-space15 layui-form-item">
                                        <div class="layui-col-md12">
                                            <label for="L_title" class="layui-form-label">标题</label>
                                            <div class="layui-input-block">
                                                <input type="text" id="L_title" name="timeline_title" required lay-verify="required" autocomplete="off" class="layui-input" >
                                            </div>
                                        </div>
                                        <div class="layui-form-item layui-form-text">
                                            <div class="layui-input-block">
                                                <textarea id="L_content" name="timeline_content" required lay-verify="content" class="layui-textarea  taonyeditor"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <button type="submit" class="layui-btn" lay-filter="timeline-add" lay-submit id="timeline-add">立即发布</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="layui-timeline">
                        {volist name="timeline" id="vo"}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">{$vo.timeline_title}
                                    <span class="layui-badge-rim">{$vo.create_time|date='Y-m-d'}</span>
                                    {if condition="checkRuleButton('apps.TimeLine/edit')"}
                                    <span class="layui-badge-rim"><a href="javascript:;" lay-event="edit" id-data="{$vo.id}" >编辑</a></span>
                                    {else /}<span class="layui-badge-rim"><a href="javascript:;">编辑</a></span>{/if}
                                    {if condition="checkRuleButton('apps.TimeLine/del')"}
                                    <span class="layui-badge-rim"><a href="javascript:;" lay-event="del" id-data="{$vo.id}" >删除</a></span>
                                    {else /}<span class="layui-badge-rim"><a href="javascript:;">删除</a></span>{/if}
                                </h3>
                                {$vo.timeline_content|raw}
                            </div>

                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>

        <script src="/static/component/layui/layui.js"></script>
        <script src="/static/component/pear/pear.js"></script>
        {:hook('taonyeditor')}
        <script>
            layui.use(['form'],function(){
                var $ = layui.jquery
                    ,layer = layui.layer
                    ,form = layui.form;
                let ADD_URL = "{:url('TimeLine/add')}";
                let DELETE_URL = "{:url('TimeLine/delete')}";

                //发布版本日志
                form.on('submit(timeline-add)', function(data){
                    var field = data.field;
                    $.ajax({
                        type:"post",
                        url: ADD_URL,
                        data:field,
                        dataType:"json",
                        success:function (data){
                            if (data.code == 0) {
                                layer.msg(data.msg,{
                                    icon:6,
                                    time:2000
                                }, function(){
                                    location.reload();
                                });
                            } else {
                                layer.open({
                                    content:data.msg,
                                    icon:5,
                                    anim:6
                                });
                            }
                        }
                    });
                    return false;
                });

                //编辑版本日志
                $('a[lay-event=edit]').on('click', function(){
                    var id = $(this).attr('id-data');
                    layer.open({
                        type: 2,
                        title: '编辑',
                        content: 'edit.html?id='+ id,
                        maxmin: true,
                        area : ['550px' , '500px'],
                    })
                });

                //删除版本日志
                $('a[lay-event=del]').on('click', function(){
                    var id = $(this).attr('id-data');
                    layer.confirm('确定删除?', {icon: 3, title:'删除版本'}, function(index){
                        //提交 Ajax 成功后，静态更新表格中的数据
                        $.ajax({
                            type:"post",
                            url: DELETE_URL,
                            data:{"id":id},
                            daType:"json",
                            success:function (data){
                                if (data.code === 0) {
                                    layer.msg(data.msg,{
                                        icon:6,
                                        time:2000
                                    }, function(){
                                        location.reload();
                                    });
                                } else {
                                    layer.open({
                                        tiele:'删除失败',
                                        content:data.msg,
                                        icon:5,
                                        anim:6
                                    });
                                }
                            }
                        });
                        layer.close(index);
                    });
                });

            });
        </script>
    </body>
</html>