{extend name="public/base" /}

{block name="body"}

  <div class="layui-form" lay-filter="layuiadmin-form-app" id="layuiadmin-form-app" style="padding: 20px 30px 0 0;">
	<div class="layui-form-item layui-hide">
      <input type="text" name="id" value="{$app.id}">
    </div>
	
	<div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline">
        <input type="text" name="app_name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"  value="{$app.app_name}">
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">标题</label>
      <div class="layui-input-inline">
        <input type="text" name="app_title" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"  value="{$app.app_title}">
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">类型</label>
      <div class="layui-input-inline">
        <select name="app_type" lay-verify="">
          <option value="">请选择</option>
          <option value="1" {if($app.app_type == 1)} selected {/if}>应用</option>
          <option value="2" {if($app.app_type == 2)} selected {/if}>插件</option>
          <option value="3" {if($app.app_type == 3)} selected {/if}>模板</option>
        </select>
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">作者</label>
      <div class="layui-input-inline">
        <input type="text" name="app_author" lay-verify="required" placeholder="请输入作者名" autocomplete="off" class="layui-input" value="{$app.app_author}">
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">简介</label>
      <div class="layui-input-inline">
	  <textarea name="app_description" placeholder="请输入简介"  lay-verify="required"  class="layui-textarea">{$app.app_description}</textarea>
      </div>
    </div>
	<div class="layui-form-item">
      <label class="layui-form-label">价格</label>
      <div class="layui-input-inline">
        <input type="text" name="app_price" lay-verify="required" placeholder="请输入价格" autocomplete="off" class="layui-input" value="{$app.app_price}">
      </div>
    </div>
    <div class="layui-form-item  layui-form-text">
      <label class="layui-form-label">图片</label>
      <div class="layui-input-inline">
        <input type="text" name="app_image" lay-verify="required" placeholder="请上传image" autocomplete="off" class="layui-input" value="{$app.app_image}">
      </div>
    </div>
	<div class="layui-form-item  layui-form-text">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
       <button style="float: left;" type="button" class="layui-btn " id="layuiadmin-upload-app">上传图片</button>
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-app-submit" id="LAY-app-submit" value="确认">
    </div>
  </div>

{/block}
{block name="js"}  
<script>
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'upload'], function(){
    var $ = layui.jquery
    ,upload = layui.upload ;
    
    upload.render({
      elem: '#layuiadmin-upload-app'
      ,url: 'uploadImg'
      ,accept: 'images'
      ,data: {type:'image'}
      ,field: 'file'
      ,method: 'get'
      ,acceptMime: 'image/*'
      ,done: function(res){
          $("input[name='app_image']").val(res.image);
          if(res.code == 0){
              layer.msg(res.msg,{
                  icon:6,
                  tiye:2000
              });
          } else {
              layer.open({
                  title:"上传失败",
                  content:res.msg,
                  icon:5,
                  anim:6
              });
          }
      }
    });
  })
  </script>
{/block}