{extend name="public/base" /}

{block name="body"}
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
           
            <input type="hidden" name="id" value="{$article.id}">
            <div class="layui-row layui-col-space15 layui-form-item">
              <div class="layui-col-md3">
                <label class="layui-form-label">{:lang('special column')}</label>
                <div class="layui-input-block">
                  <select lay-verify="required" name="cate_id" lay-filter="column"> 
                    <option></option>
                    {volist name="cateList" id="cate"}
                    <option value="{$cate.id}" {if $article.cate_id == $cate.id}selected{/if}>{:cookie('think_lang') == 'en-us' ? $cate.ename : $cate.catename}</option>
                    {/volist}
                  </select>
                </div>
              </div>
              <div class="layui-col-md8">
                <label for="L_title" class="layui-form-label">{:lang('title')}</label>
                <div class="layui-input-block">
                  <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="{$article.title}">
                  <input type="hidden" id="L_title_color"  name="title_color" autocomplete="off" class="layui-input" value="{$article.title_color ?? '#333'}">
                  <input type="hidden" name="user_id" value="{$article.user_id}">
                </div>
              </div>
              <div class="layui-col-md1">
                <div id="color"></div>
                <div id="test9" style="margin-left: 30px;"></div>
              </div>
            </div>

            <div class="layui-form-item layui-form-text">
              <div class="layui-input-block">
                <textarea id="L_content" name="content" required lay-verify="required" placeholder="详细内容"  class="layui-textarea fly-editor" style="height: 260px;">{$article.content}</textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">{:lang('enclosure')}</label>
                <div class="layui-input-inline" style="width: 190px;">
                  <input type="text" class="layui-input" name="upzip" value="{$article.upzip}" placeholder="zip,jpg格式" title="上传附件"/>
                </div>
                <button type="button" class="layui-btn" id="zip-button"><i class="layui-icon"></i>上传文件</button>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">{:lang('描述')}</label>
              <div class="layui-input-block">
                <textarea name="description" class="layui-textarea" placeholder="SEO描述">{$article.description}</textarea>
              </div>
            </div>
            {//关键词}
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('添加关键词')}</label>
                <div class="layui-input-block">
                  <input type="text" class="layui-input" name="keywords" value="{$article.keywords}" placeholder="多个英文逗号隔开" title="添加关键词" />
                </div>
            </div>
            {//tag}
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('add tags')}</label>
                <div class="layui-input-block">
                  <div id="tag"></div>
                </div>
            </div>
            <div class="layui-form-item layui-hide">
              <button type="submit" class="layui-btn" lay-filter="article-edit" lay-submit id="article-edit">{:lang('post now')}</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}

{block name="js"}
<script src="/static/jquery-3.6.0.min.js"></script>
<script src="/addons/taonyeditor/tinymce/tinymce.min.js"></script>
<script src="/addons/taonyeditor/tinymce/tinymce-jquery.min.js"></script>
<script>
    //定义选择器
    var mytextareaid = 'textarea#L_content';
    var imagePrependUrl = "{domain}";
    //定义文件上传接口接口
    var taonyUploadUrl = "{:url('forum/uploads')}",
    taonyUploadImgage = "{:url('forum/uploads')}?type=image",
    taonyUploadVideo = "{:url('forum/uploads')}?type=video";
    taonyUploadZip = "{:url('forum/uploads')}?type=zip";
    taonyUploadAudio = "{:url('forum/uploads')}?type=audio";
    $(mytextareaid).removeClass();
</script>
<script src="/addons/taonyeditor/js/taonyeditor.js"></script>
<script src="/static/xm-select.js"></script>
<script>
var artId = "{$article.id}";

//1.渲染标签
var addTags = xmSelect.render({
  el: '#tag',
  name: 'tagid',
  layVerify: 'required',
  layVerType: 'msg',
  paging: true,
  pageSize: 5,
  data: []
});
//2.动态赋值
$.get("{:url('get_art_tag')}",{id:artId},function(res){
  if(res.code == 0){
    addTags.setValue(
      res.data
    )
  }
});
//3.动态标签赋值
$.get("{:url('get_all_tag')}",function(res){
  if(res.code == 0){
    addTags.update({
      data: res.data,
      autoRow: true,
    })
  }
});
</script>
<script>
	layui.use(['colorpicker','form','upload', 'editor'], function(){
    var $ = layui.jquery
    ,colorpicker = layui.colorpicker
    ,form = layui.form
    ,upload = layui.upload;

    var editor = layui.editor;
    // 从详情页自动调用端口过滤，获取描述信息
    tinymce.get('L_content').on('mouseleave', function() {
        var content = tinymce.get('L_content').getContent({format: 'text'});
        content = content.replace(/[\r\n]/g,"").replace(/\n/g, '').replace(/\s/g, '').replace(/\t/g, '');
        if(content.length >200) {
            content = content.substring(0,200);
        }
        // var test = tinymce.activeEditor.getContent({format: 'text'});
        $('[name="description"]').val(content);
    });

  // 获取描述的内容
  $("#L_content").bind('input propertychange', function(){
    var content = $(this).val()
    $.ajax({
      type:"post",
      url:"{:url('Forum/getDescription')}",
      data:{"content":content},
      daType:"json",
      success:function (data){
        if (data.code == 0) {
          $('[name="description"]').val(data.data);
        }
      }
    });
    return false;
    })

  // 获取tag的内容
	var conf = "{:empty(config('taoler.baidu.client_id'))}";
	if(conf !== '1'){
    $("#L_title").on('blur', function(){
      var title = $(this).val();
      var flag = 'on';
      $.ajax({
        type:"post",
        url:"{:url('Forum/getKeywords')}",
        data:{"keywords":keywords,"flag":flag},
        daType:"json",
        success:function (data){
          if (data.code == 0) {
            $("input[name='keywords']").val("");
          }
        }
      });
      return false;
    })
	}

  //预定义颜色项
  colorpicker.render({
      elem: '#color'
      ,color: "{$article.title_color ?? '#333'}"
      ,predefine: true // 开启预定义颜色
      ,done: function(color){
        //譬如你可以在回调中把得到的 color 赋值给表单
        $('#L_title_color').val(color);
        //改变标题颜色
        $('#L_title').css("color", color);
      }
    });

  //指定允许上传的文件类型
  upload.render({
			elem: '#zip-button'
			,url: "{:url('forum/uploads')}" //改成您自己的上传接口
			,data: {type:'zip'}
			,accept: 'file' //普通文件
			,done: function(res){
				if(res.status == 0){
					$('input[name="upzip"]').val(res.url);
					layer.msg('上传成功');
				} else {
					layer.msg(res.msg);
				}
			}
		});

});
</script>
{/block}