{extend name="public:base" /}

{block name="body"}
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">帖子ID</label>
            <div class="layui-input-block">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">发帖人</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
              <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
              <select name="sec">
			  <option value="">选择状态</option>
                <option value="1">正常</option>
				<option value="5">禁止</option>
				<option value="6">待审</option>
                <option value="2">置顶</option>
				<option value="3">加精</option>
				<option value="4">禁评</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-forum-list" lay-submit lay-filter="LAY-app-forumlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-forum-list" data-type="batchdel">删除</button>
        </div>
        <table id="LAY-app-forum-list" lay-filter="LAY-app-forum-list" ></table> 
        <script type="text/html" id="imgTpl">
          <img style="display: inline-block; width: 50%; height: 100%;" src= "{{ d.avatar }}">
        </script> 
		<script type="text/html" id="title">
		<a href="{$domain}/jie/{{d.id}}.html" target="_blank">{{d.title}}</a>
		</script>
        <script type="text/html" id="buttonTpl">
          {{#  if(d.top == 1){ }}
            <button class="layui-btn layui-btn-xs">置顶</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
          {{#  } }}
        </script> 
		<script type="text/html" id="buttonHot">
            {{#  if(d.hot == 1){ }}
            <button class="layui-btn layui-btn-xs">加精</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
          {{#  } }}
        </script>
		<script type="text/html" id="buttonReply">
            {{#  if(d.reply == 1){ }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
          {{#  } else { }}
            <button class="layui-btn  layui-btn-xs">禁评</button>
          {{#  } }}
        </script>
		<script type="text/html" id="buttonCheck">
            {if condition="checkRuleButton('admin/forum/check')"}
			<input type="checkbox" name="check" lay-skin="switch" lay-filter="forumcheck" lay-text="通过|{{#  if(d.check == -1){ }}禁止{{#  } }} {{#  if(d.check == 0){ }}待审{{#  } }}" {{#  if(d.check == 1){ }} checked {{#  } }} id="{{d.id}}" >
			{else /}<button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-disabled">无权限</button>{/if}
        </script>
        <script type="text/html" id="table-forum-list">
		{if condition="checkRuleButton('admin/forum/listdel')"}
          <!--a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="edit" ><i class="layui-icon layui-icon-edit"></i>编辑</a-->
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
		  {else /}<a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled"><i class="layui-icon layui-icon-delete"></i></a>{/if}
        </script>
      </div>
    </div>
  </div>

{/block}

{block name="js"}
<script>
var forumList = "{:url('Forum/list')}",
    forumListdel = "{:url('Forum/listdel')}",
    forumListform = "{:url('Forum/listform')}",
    forumReplys = "{:url('Forum/replys')}",
    forumRedel = "{:url('Forum/redel')}",
    forumReplysform = "{:url('Forum/replysform')}",
    forumTags = "{:url('Forum/tags')}",
    forumTagsDelete = "{:url('Forum/tagsdelete')}",
    forumTagsForm = "{:url('Forum/tagsform')}";
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'forum', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
   
    //监听搜索
    form.on('submit(LAY-app-forumlist-search)', function(data){
      var field = data.field;
	  	$.post("{:url('admin/Forum/list')}",field);
      //执行重载
      table.reload('LAY-app-forum-list', {
        where: field
      });
    });
    
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-app-forum-list')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
      
        layer.confirm('确定删除吗？', function(index) {
		
			//获取所选id
			var idsArray = [];
            for (var i = 0; i < checkData.length; i++) {
                idsArray.push(checkData[i].id);
            }
			
            var ids = idsArray.toString();
             //console.log(ids);
          
          //执行 Ajax 后重载
         
          $.post("{:url('admin/Forum/listdel')}",{"id": ids},function(res){
			  if(res.code == 0){
				layer.msg('删除成功', {
				  icon: 1
				  ,shade: 0
				});
			  }
          }
            //,……
          );
          
          table.reload('LAY-app-forum-list');
          layer.msg('已删除');
        });
      }
    }  
    
	//监听帖子审核
	form.on('switch(forumcheck)', function(data){
	var data= data.elem;
	status = data.checked ? 1 : -1;
	//执行帖子审核
		$.ajax({
			type:'post',
			url:"{:url('admin/Forum/check')}",
			data:{id:data.id,status:status},
			dataType:'json',
			success:function(res){
				if(res.code == 0){
					layer.msg(res.msg,{
						icon:res.icon,
						time:2000
					});
				} else {
					layer.open({
						title:'审核失败',
						content:res.msg,
						icon:5,
						adim:6
					})
				}
			table.reload('LAY-app-forum-list');
			}
		});
		return false;
	});  
	
    $('.layui-btn.layuiadmin-btn-forum-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>
{/block}
