{extend name="public:base" /}

{block name="body"}
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline layuiadmin-input-useradmin">
            <label class="layui-form-label">回帖人</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
              <input type="text" name="content" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
		      <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
             <select name="status" lay-filter="fourm-check">
				        <option value="">全部</option>
				        <option value="0">待审</option>
                <option value="-1">禁止</option>
				        <option value="1">通过</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-replys" data-type="reload" lay-submit lay-filter="LAY-app-forumreply-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-replys" data-type="batchdel">删除</button>
        </div>
        <table id="LAY-app-forumreply-list" lay-filter="LAY-app-forumreply-list"></table> 
        <script type="text/html" id="imgTpl">
          <img style="width: 25px; height: 25px;" src= {{ d.avatar }}>
        </script>
		    <script type="text/html" id="buttonCheck">
            {if condition="checkRuleButton('forum/recheck')"}<input type="checkbox" name="check" lay-skin="switch" lay-filter="recheck" lay-text="通过|{{ d.check == 0 ? '待审' : '禁止' }}" {{  d.check == 1 ? 'checked' : '' }} id="{{d.id}}" >
			      {else /}<button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-disabled">无权限</button>{/if}
        </script>		
        <script type="text/html" id="table-forum-replys">
		      {if condition="checkRuleButton('forum/redel')"}
          <!--a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a-->
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
		      {else / }<a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled"><i class="layui-icon layui-icon-delete"></i>删除</a>{/if}
        </script>
      </div>
    </div>
  </div>

{/block}

{block name="js"}  
<script>
var forumList     = "{:url('Forum/list')}",
    forumListdel  = "{:url('Forum/listdel')}",
    forumListform = "{:url('Forum/listform')}",
    forumReplys   = "{:url('Forum/replys')}",
    forumRedel    = "{:url('Forum/redel')}",
    forumReplysform = "{:url('Forum/replysform')}",
    forumTags       = "{:url('Forum/tags')}",
    forumTagsDelete = "{:url('Forum/tagsdelete')}",
    forumTagsForm   = "{:url('Forum/tagsform')}";
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'forum', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    
    //监听搜索
    form.on('submit(LAY-app-forumreply-search)', function(data){
      var field = data.field;
	  $.post("{:url('Forum/replys')}",field);
      //执行重载
      table.reload('LAY-app-forumreply-list', {
        where: field
      });
    });
	
	//状态选择
      form.on('select(fourm-check)',function(data){
          $.post("{:url('Forum/replys')}",{"status":data.value});
          //执行重载
          table.reload('LAY-app-forumreply-list', {
              where: {
                  status: data.value
              }
          });
      });
    
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-app-forumreply-list')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
      
        layer.confirm('确定删除吗？', function(index) {
          
          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          table.reload('LAY-app-forumreply-list');
          layer.msg('已删除');
        });
      }
    }
	
	//监听回贴审核
	form.on('switch(recheck)', function(data){
	var data= data.elem;
	status = data.checked ? 1 : -1;
	//执行回帖审核
		$.ajax({
			type:'post',
			url:"{:url('Forum/recheck')}",
			data:{id:data.id,status:status},
			dataType:'json',
			success:function(res){
				if(res.code == 0){
					layer.msg(res.msg,{
						icon:res.icon,
						time:2000
					});
				} else {
					layer.open({
						title:'审核失败',
						content:res.msg,
						icon:5,
						adim:6
					})
				}
				
			table.reload('LAY-app-forumreply-list');
			}
		});
		return false;
	}); 
    
    $('.layui-btn.layuiadmin-btn-replys').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
{/block}
