<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Document</title>
    <meta name="keywords" content="网站关键词" />
    <meta name="description" content="网站描述" />
    <!-- <meta content="always" name="referrer"> -->
     
    <meta itemprop=dateUpdate content="2024-02-06 12:41:56">
    <!-- 头条时间因子 -->
    <meta property="bytedance:published_time" content="2014-12-11T12:28:44+01:00" />
    <meta property="bytedance:lrDate_time" content="2017-03-13T15:01:40+01:00" />
    <meta property="bytedance:updated_time" content="2017-03-13T15:01:40+01:00" />

    <!-- 百度时间因子 -->
    <script type="application/ld+json">
        {
        "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
        "@id": "{ article.Url}",
        "appid": "",
        "title": "",
        "images" [
            "https://www.1.jpg",
        ],
        "description": "",
        "pubDate": "{ article.Time("PostTime","Y-m-d\TH:i:s")}",
        "upDate": "{ article.Time("UpdateTime","Y-m-d\TH:i:s")}",
        "lrDate": "",
        }
    </script>

    <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico?t=20171027" type=image/x-icon>
    <!-- 添加到主屏后的标题 -->
    <meta name="apple-mobile-web-app-title" content="新浪体育">
    <link rel="apple-touch-icon-precomposed" href="https://n1.sinaimg.cn/products/base/latest/images/home/sports_icon.png" >
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/view/tao/css/index.css">
</head>
<body>
    <header class="header">
        <div class="layui-container">

            <div class="logo">
                <a href="/">
                    <img src="/static/res/images/logo.png" alt="logo">
                </a>
            </div>

            <nav class="header-nav layui-hide-xs">
                <ul class="layui-nav nav-bg-light">
                    <li class="layui-nav-item">
                        <a href=""><span class="layui-badge-dot" style="left:0; right: auto; margin: -4px 0 0 5px;"></span>新主题</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">日志内容<span class="layui-badge">9</span></a>
                        
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;">
                          <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
                        </a>
                        <dl class="layui-nav-child">
                          <dd><a href="javascript:;">子级菜单</a></dd>
                          <dd><a href="javascript:;">横线隔断</a></dd>
                          <hr>
                          <dd style="text-align: center;"><a href="">退出</a></dd>
                        </dl>
                      </li>
                </ul>
            </nav>

        </div>
    </header>

    <div class="content">
        <div class="layui-container">

            <div class="layui-row layui-col-space15">

                <main class="layui-col-md9">
                    <section class="tao-panel article-list">
                        <!-- 左图右文 -->
                        <div class="article-list-item">
                            <div class="layui-row layui-col-space20">
                                <div class="layui-col-xs3 image-box">
                                    <img src="/static/res/images/logo.png" alt="" class="list-img">
                                </div>
                                <div class="layui-col-xs9 text-box">
                                    <h2 class="list-title">中国是伟大的工程看看来的了啦啦啦啦啦啦啦啦啦啦啦</h2>
                                    <p class="list-desc layui-hide-xs">kjkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkjkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
                                   
                                </div>
                            </div>
                        </div>


                    </section>

                    <section class="tao-panel">
                        aaa
                        aaaa
                    </section>
    
                </main>

                <aside class="layui-col-md3">
                    <div class="tao-panel">
                        cccc
                    </div>
                    <div class="tao-panel">
                        ddddd
                    </div>
                    <div class="tao-panel">
                        eeee
                    </div>
                    <div class="tao-panel sticky-panel">
                        ffff
                    </div>
                </aside>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="layui-container">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md3 layui-col-xs6">
                    1/4
                </div>
                <div class="layui-col-md3 layui-col-xs6">
                1/4
                </div>
                <div class="layui-col-md3 layui-col-xs6">
                1/4
                </div>
                <div class="layui-col-md3 layui-col-xs6">
                1/4
                </div>
            </div>
        </div>
        <hr>

        <div class="layui-container footer-info">
            <div class="layui-row layui-col-space20">

                <div class="layui-col-md2 qrcode-show layui-hide-xs">
                    <img src="/static/res/images/logo.png" alt="">
                </div>

                <div class="layui-col-md6 copyright">
                    <p>Copyright © 2024 TaoLer aieok.com</p>
                    <p class="layui-hide-xs">京ICP备2022015173号-1</p>
                    <p class="layui-hide-xs">京公网安备11010802039576号</p>
                </div>

                <div class="layui-col-md4 layui-hide-xs">

                </div>
            </div>
        </div>
        
    </footer>

    <!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
    <script src="/static/layui/layui.js"></script>
</body>
</html>