{extend name="public/base" /}

{block name="body"}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
        <div class="layui-card-body">
		  
			<div class="layui-form layui-form-pane">
			<div class="layui-tab layui-tab-brief" lay-filter="timeline">
			<div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
			<div class="layui-tab-item layui-show">

				<div class="layui-row layui-col-space15 layui-form-item">
				<div class="layui-col-md3">
                  <label class="layui-form-label">发送类型</label>
                  <div class="layui-input-block">
                    <select lay-verify="required" name="type" lay-filter="type"> 
                      <option {if condition="$msg.type eq 0"} selected {/if} value="0">站内通知</option>					  
                    </select>
                  </div>
                </div>
				<div class="layui-col-md9">
				   <label for="L_title" class="layui-form-label">标题</label>
				   <div class="layui-input-block">
						<input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="{$msg.title}">
				   </div>
				</div>
				
				<div class="layui-form-item layui-form-text">
					<div class="layui-input-block">
					  <textarea id="L_content" name="content" required lay-verify="content" autocomplete="off"  class="layui-textarea " >{$msg.content}</textarea>
					</div>
				</div>
				<div class="layui-form-item layui-hide">
				 <input type="text" name="id" class="layui-input" value="{$msg.id}">
				</div>
				  <div class="layui-form-item layui-hide">
					<button type="submit" class="layui-btn" lay-filter="notice-edit" lay-submit id="notice-edit">立即发布</button>
				  </div>
				</div>
				
				
			</div>
			</div>	
			</div>
			</div>			
		
      </div>
    </div>
  </div>
  </div>
  </div>  
{/block}
{block name="js"}
  <script>
      var noticeIndex = "{:url('Notice/index')}";
  layui.config({
    base: '/static/admin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','notice'],function(){
	var $ = layui.jquery;
  });
  </script>
{/block}