<footer class="footer">
	<div class="layui-container">
		<div class="footer-col footer-col-logo">
			<img src="{$sysInfo.logo}" alt="{$sysInfo.webname}">
		</div>
		<div class="footer-col footer-col-copy">
			{:hook('ads_footer_flink')}
			{:hook('ads_footer_link')}
			<div class="copyright">
				<span class="layui-hide"> v{:config('taoler.version')}</span>
				Copyright © {:date('Y')} {$sysInfo.copyright|raw}
				<a href="https://www.aieok.com" target="blank" title="TaoLerCMS" class="layui-hide">TaoLerCMS</a>
				<a href="https://beian.miit.gov.cn/" target="blank">{$sysInfo.icp}</a>
			</div>
			{//websocket统计脚本}
			<div style="text-align:center;color:#999;font-size:14px;padding:0 0 10px;" id="online_count"></div>
		</div>
		<div class="footer-col footer-col-sns">

		</div>
	</div>
</footer>


{:hook('showLeftLayer')}
{:hook('msgnum')}
<script>
    var $ = layui.jquery;
    var articleAdd  = "{:url('add_article',['cate'=>$Request.param.ename])}",
      uploads     = "{:url('article/uploads')}",
      langUrl     = "{:url('index/language')}",
      jumpUrl     = "{:url('/jump/index/')}";
</script>

