<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>授权管理</title>
	<link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>
<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="version-table" lay-filter="version-table"></table>
			</div>
		</div>

		<script type="text/html" id="version-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				删除
			</button>
		</script>

		<script type="text/html" id="version-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>

		<script type="text/html" id="version-enable">
			<input type="checkbox" name="version_status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="version-enable" {{ d.version_status == 1 ? 'checked' : '' }} />
		</script>

		<script type="text/html" id="Time">
			{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
		</script>

		<script src="/static/component/layui/layui.js"></script>
		<script src="/static/component/pear/pear.js"></script>
		<script>
		layui.use(['table', 'form', 'jquery','common'], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let common = layui.common;

		let LIST = "{:url('apps.version/list')}";
		let CHECK = "{:url('apps.version/check')}";
		let DELETE = "{:url('apps.version/delete')}";

		let cols = [[
			{type: 'numbers', fixed: 'left'},
			{field: 'pname',title: '应用名', width: 100},
			{field: 'version_name',title: '版本', width: 100},
			{field: 'version_resume',title: '简介', minWidth: 200},
			{field: 'version_status',title: '状态', templet: '#version-enable', width: 95, align: 'center'},
			{field: 'create_time',title: '时间', width: 150},
			{title: '操作', width: 120, align:'center', toolbar: '#version-bar'}
		]];

		table.render({
			elem: '#version-table',
			url: LIST,
			page: true,
			cols: cols,
			skin: 'line',
			toolbar: '#version-toolbar',
			defaultToolbar: [{
				title: '刷新',
				layEvent: 'refresh',
				icon: 'layui-icon-refresh',
			}, 'filter', 'print', 'exports'],
			limit: 10
		});

		table.on('tool(version-table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				window.edit(obj);
			}
		});

		table.on('toolbar(version-table)', function(obj) {
			if (obj.event === 'add') {
				window.add();
			} else if (obj.event === 'refresh') {
				window.refresh();
			} else if (obj.event === 'batchRemove') {
				window.batchRemove(obj);
			}
		});

		form.on('switch(version-enable)', function(obj) {
			layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
			var status = obj.elem.checked ? 1 : -1;
			//执行用户审核
			$.ajax({
				type:'post',
				url: CHECK,
				data:{"id":this.value,"name":this.name,"value":status},
				dataType:'json',
				success:function(res){
					if(res.code === 0){
						layer.msg(res.msg,{
									icon:res.icon,
									time:2000
								}
								//,function(){location.reload();}
						);
					} else {
						layer.open({
							title:'审核失败',
							content:res.msg,
							icon:5,
							adim:6
						})
					}
				}
			});
			return false;
		});

		window.add = function() {
			layer.open({
				type: 2,
				title: '新增',
				shade: 0.1,
				area: [common.isModile()?'100%':'500px', common.isModile()?'100%':'450px'],
				content: 'add.html'
			});
		}

		window.edit = function(obj) {
			layer.open({
				type: 2,
				title: '修改',
				shade: 0.1,
				area: ['500px', '450px'],
				content: 'edit.html?id=' + obj.data.id
			});
		}

		window.remove = function(obj) {

			layer.confirm('确定要删除?', {
				icon: 3,
				title: '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url: DELETE + "?id=" + obj.data['id'],
					dataType: 'json',
					type: 'delete',
					success: function(result) {
						layer.close(loading);
						if (result.code === 0) {
							layer.msg(result.msg, {
								icon: 1,
								time: 1000
							}, function() {
								obj.del();
							});
						} else {
							layer.msg(result.msg, {
								icon: 2,
								time: 1000
							});
						}
					}
				})
			});
		}

		window.refresh = function(param) {
			table.reload('version-table');
		}
	})
</script>
	</body>
</html>
