<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TaoLer安装程序</title>
    <script type="text/javascript" src="/static/layui/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/res/css/admin.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div class="inside">
        <div class="inwp cl">
            <h2>
                <a href="/install/index"><img src="/static/res/images/logo.png" style="height:37px;padding:10px 0 0 10px;" alt="TaoLer"></a>
                <ul>
                    <li class="innumber {if($Request.action=='index')}innumber1{/if}">1</li>
                    <li class="inword">安装协议</li>
                </ul>
                <ul>
                    <li class="innumber {if($Request.action=='test')}innumber1{/if}">2</li>
                    <li class="inword">环境检测</li>
                </ul>
                <ul>
                    <li class="innumber {if($Request.action=='create')}innumber1{/if}">3</li>
                    <li class="inword">创建数据</li>
                </ul>
                <ul>
                    <li class="innumber {if($Request.action=='complete')}innumber1{/if}">4</li>
                    <li class="inword">安装完成</li>
                </ul>
        </div>
    </div>
{block name="body"}主题{/block}

</body>

</html>