<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>添加页面</title>
  <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>
<body>
  <form class="layui-form" action="">
    <div class="mainBox">
      <div class="main-container">
      <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
          <input type="text" name="app_name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
          <input type="text" name="app_title" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
          <select name="app_type" lay-verify="">
              <option value="">请选择</option>
              <option value="1">应用</option>
              <option value="2">插件</option>
              <option value="3">模板</option>
            </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-inline">
          <input type="text" name="app_author" lay-verify="required" placeholder="请输入作者名" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-inline">
        <textarea name="app_description" placeholder="请输入简介"  lay-verify="required"  class="layui-textarea"></textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-inline">
          <input type="text" name="app_price" lay-verify="required" placeholder="请输入价格" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item  layui-form-text">
          <label class="layui-form-label">图片</label>
          <div class="layui-input-inline">
            <input type="text" name="app_image" lay-verify="required" placeholder="请上传图片" autocomplete="off" class="layui-input" >
          </div>
        </div>
        <div class="layui-form-item  layui-form-text">
          <label class="layui-form-label"></label>
          <div class="layui-input-inline">
           <button style="float: left;" type="button" class="layui-btn " id="layuiadmin-upload-app">上传图片</button>
          </div>
        </div>
    </div>
    </div>
    <div class="bottom">
      <div class="button-container">
        <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="app-save">
          <i class="layui-icon layui-icon-ok"></i>
          提交
        </button>
        <button type="reset" class="pear-btn pear-btn-sm">
          <i class="layui-icon layui-icon-refresh"></i>
          重置
        </button>
      </div>
    </div>
  </form>

  <script src="/static/component/layui/layui.js"></script>
  <script src="/static/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'upload'], function(){
      let upload = layui.upload ;
      let form = layui.form;
      let $ = layui.jquery;

      let ADD_URL = "{:url('apps.app/add')}";
      let UPLOAD_IMG = "{:url('apps.app/uploadImg')}";
      
      upload.render({
        elem: '#layuiadmin-upload-app'
        ,url: UPLOAD_IMG
        ,accept: 'images'
        ,data: {type:'image'}
        ,field: 'file'
        ,method: 'get'
        ,acceptMime: 'image/*'
        ,done: function(res){
            $("input[name='app_image']").val(res.image);
            if(res.code === 0){
                layer.msg(res.msg,{
                    icon:6,
                    tiye:2000
                });
            } else {
                layer.open({
                    title:"上传失败",
                    content:res.msg,
                    icon:5,
                    anim:6
                });
            }
        }
      });

      form.on('submit(app-save)', function(data) {
        $.ajax({
          url: ADD_URL,
          data: JSON.stringify(data.field),
          dataType: 'json',
          contentType: 'application/json',
          type: 'post',
          success: function(result) {
            if (result.code === 0) {
              layer.msg(result.msg, {
                icon: 1,
                time: 1000
              }, function() {
                parent.layer.close(parent.layer.getFrameIndex(window
                        .name)); //关闭当前页
                parent.layui.table.reload("app-table");
              });
            } else {
              layer.msg(result.msg, {
                icon: 2,
                time: 1000
              });
            }
          }
        })
        return false;
      });

    })
    </script>
  </body>
</html>